DATABASE_URL=YOUR POSTGRESQL DATABASE URL HERE
PORT=3000
REDIS_HOST=YOUR REDIS HOST HERE
REDIS_PORT=YOUR REDIS PORT HERE
REDIS_PASSWORD=YOUR REDIS PASSWORD HERE
NODE_ENV=development/production
ACCESS_TOKEN_SECRET=YOUR ACCESS TOKEN SECRET HERE
REFRESH_TOKEN_SECRET=YOUR REFRESH TOKEN SECRET HERE
GEMINI_API_KEY=YOUR GEMINI_API_KEY API KEY HERE
PINECONE_API_KEY=YOUR PINECONE API KEY HERE
MISTRAL_API_KEY=YOUR MISTRAL API KEY HERE
RAPID_API_KEY_API=YOUR RAPID API KEY HERE
GROQ_API_KEY=YOUR GROQ API KEY HERE